<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[bos_01] %.-1p %d{MM-dd HH:mm:ss.SSS} %t %c{30}:%L %X{clientId}|%X{sessionId}:%X{messageId}:%X{fileId}] %m%n</pattern>
    </encoder>
  </appender>
  <logger name="org.eclipse.jetty" level="${JETTY_LOG_LEVEL:-info}" />
  <logger name="org.gaul.s3proxy" level="${S3PROXY_LOG_LEVEL:-info}" />
  <root level="${LOG_LEVEL:-info}">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
